{% extends 'funsite/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %} Funtelecom - Все новости {% endblock title %}

{% block content %}
	<div class="container p-3">
			<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
				<li class="breadcrumb-item">Новости</li>
			</ol>
		</nav>
	
		{% for news in news_list %}
		<div class="news-all border my-5 p-3">
			<div class="text-center border-bottom">
			<h2><a href="{% url 'detail_news' pk=news.pk %}">{{ news.title }}</a></h2>
			</div>
				<div class="media">
					<img class="align-self-start mr-3 border-right"src=" {{ news.image_news.url }}">
					<div class="media-body">
						<div class="m-3">{% autoescape off %}{{ news.text|truncatewords:30 }}{% endautoescape %}</div>
					</div>
				</div>
				<div class="date">				
					<p class="text-right font-italic m-3">{{ news.created_date }}</p>
				</div>
			</div>
		{% endfor %}
</div>

{% endblock content %}
