{% extends 'funsite/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %} Главная страница {% endblock title %}

{% block content %}
<div class="container  p-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
		</ol>
	</nav>
<p>Наши бренды</p>

{% for art in art_list %}
<a href="{% url 'detail_article' pk=art.pk %}">
	<div>{{ art.created_date }}</div>
	{% if art.image %}
	<div><img src=" {{ art.image.url }}"></div>
	{% else %}
	<img src=" {{ art.image.url }}" class="main-image">
	{% endif %}
	<div>{{ art.title }}</div>
</a>
{% endfor %}
</div>

{% endblock content %}