{% extends 'funsite/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %} Компания - {{ my_company_info.title }} {% endblock title %}

{% block content %}
<div class="container  p-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
		</ol>
	</nav>	
	<div class="title-company">
		<h2>{{ my_company_info.title }}</h2>
	</div>
	<div class="description-company">
		{% autoescape off %}{{my_company_info.description}}{% endautoescape %}
	</div>	
</div>
{% endblock content %}