{% extends 'funsite/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %} Контакты {% endblock title %}

{% block content %}
<div class="container  p-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
		</ol>
	</nav>
	<div class="title-company display-4 mt-2">Контакты:</div>
	<div class="row">
		
		{% for contact in contact_company %}
		<div class="col-sm border m-2">
			<div class="title-company ">
				<h2>{{ contact.name_department }}</h2>
			</div>
			<div class="description-company">
				<div class="p-2"> Время работы: {{contact.working_hours}}</div>
			</div>
			<div class="p-2">
				Почта: {{ contact.email_department.email }}
			</div>
			<div class="p-2">
				Телефон: {{ contact.phone_department.phone_number }} ext: 
				{{ contact.phone_department.extension_number }}
			</div>
			<div class="p-2">

				Адрес: {{ contact.department_address.country.name_country }},
				{{ contact.department_address.city.name_city }},
				{{ contact.department_address.street.name_street }},
				дом {{ contact.department_address.number_house|default_if_none:"-" }}, 
				строение {{ contact.department_address.number_flat|default_if_none:"-" }},
				комната/офис {{ contact.department_address.number_office|default_if_none:"-" }}
			</div>
			<div>
			 <a class="p-2" href="{{ contact.department_address.access_map_link|default_if_none:'/contacts_our_company' }}" target="_blank">Схема проезда</a>
			</div>
		</div>
		{% endfor %}

	</div>
</div>
{% endblock content %}