{% extends 'funsite/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %} Контакты {% endblock title %}

{% block content %}
<div class="container  pt-3">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
			<li class="breadcrumb-item">Наши контакты</li>
		</ol>
	</nav>
	<div class="title-company display-4 pt-2">Контакты:</div>
	<div class="row">
		<div class="contact p-3">

		{% for contact in contact_company %}
		<div class="border">
			<div class="title-company pl-2">
				<h2>{{ contact.name_department }}</h2>
			</div>
			<div class="description-company">
				<div class="p-2"> Время работы: {{contact.working_hours}}</div>
			</div>
			<div class="p-2">
				Почта: {{ contact.email_department.email }}
			</div>
			<div class="p-2">
				Телефон: {{ contact.phone_department.phone_number|default_if_none:"-"}} ext: 
				{{ contact.phone_department.extension_number|default_if_none:"-" }}
			</div>
			<div class="p-2">

				Адрес: {{ contact.department_country.name_country|default_if_none:"-" }},
				{{ contact.department_city.name_city|default_if_none:"-" }},
				{{ contact.department_street.name_street|default_if_none:"-" }},
				дом {{ contact.department_number_house.number_house|default_if_none:"-"}},				
				комната/офис {{ contact.department_number_office.number_office|default_if_none:"-" }}
			</div>
			<div>
			 <a class="p-2" href="{{ contact.department_access_map_link.access_map_link|default_if_none:'/contacts_our_company' }}" target="_blank">Схема проезда</a>
			</div>
		</div>
		{% endfor %}
		</div>		
	</div>
</div>
{% endblock content %}