
{% load static %}


{% block header %}  

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="header">
        <div class="logo"><a href="/"><img src="{% static 'funsite/logo_fun.png' %}"
         alt="logo"></a>
       </div>
     </div>
   </div>   
   <div class="col-sm">
     <div class="contacts">
      <p>{{ phone_main_office_proc }}</p>
       <p><a href="mailto:">{{ email_main_office_proc }}</a></p>       
     </div>
   </div>
 </div>
</div>

{% endblock header %}