{% extends 'funsite/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %} Funtelecom - Главная страница {% endblock title %}

{% block content %}

<h2>Наши бренды</h2>

{% for brand in brand_list %}

	<div>
		<a href="{% url 'detail_brand' pk=brand.pk %}">
			<img src=" {{ brand.image_brand.url }}">
		</a>
	</div>
	<br>
	
{% endfor %}
<br><hr>

<h2>Новости</h2>

{% for news in news_list %}

	<div>
		<a href="{% url 'detail_news' pk=news.pk %}">
			<img src=" {{ news.image_news.url }}">
		</a>
	</div>
<br>
	
{% endfor %}
<a href="">Все новости</a>
<hr>

{% endblock content %}