{% extends 'funsite/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %} Funtelecom - Главная страница {% endblock title %}

{% block content %}
<div class="container">	
	<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
		<div class="carousel-inner">
			{% for carousel in carousel_list %}
			{% if forloop.first %}
			<div class="carousel-item active ">
				<a href="{{ carousel.link }}" target="_blank"><img src="{{ carousel.image_carousel.url }}" class="d-block"></a>
			</div>    
			{% else %} 
			<div class="carousel-item">
				<a href="{{ carousel.link }}" target="_blank"><img src="{{ carousel.image_carousel.url }}" class=" d-block"></a>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<!-- Элементы управления -->
		<a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Предыдущий</span>
		</a>
		<a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Следующий</span>
		</a>
	</div>
	<div class="all-news-title text-left pt-3"><a href="{% url 'all_news' %}">Новости</a></div>
	
	
	<div class="news pt-3">	
		{% for news in news_list %}
		<div class="card card-news px-3">
			<img src="{{ news.image_news.url }}" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title text-center">{{news.title}}</h5>				
			</div>
			<div class="card-footer bg-transparent">
				<a href="{% url 'detail_news' pk=news.pk %}" class="btn btn-primary btn-block">Подробнее</a>
			</div>
		</div>
		{% endfor %}	
		
	</div>

	<div class="all-brands-title text-left pt-3"><a href="{% url 'all_brands' %}">Наши бренды</a></div>

	<div class="brands pt-3">
		{% for brand in brand_list %}
		
		<div class="card card-brands px-2">
			<a class="text-decoration-none" href="{% url 'detail_brand' pk=brand.pk %}">			
				<img src="{{ brand.image_brand.url }}" class="card-img-top card-img-top-brands">
				<div class="card-body">
					<p class="card-text text-center text-info">{{ brand.name }}</p>
				</div>
			</a>			
		</div>
		
		{% endfor %}
	</div>

	<div class="row px-3">			
		<div class="title-company text-left pt-3">
			{% for company in my_company_info %}
			<a href="{% url 'company_info' %}">О нас</a>
		</div>
		<div class="text-company">
			<p>{{company.description|safe}}</p>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}