{% extends 'funsite/base.html' %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load static %}

{% block title %} Funtelecom - Обращение в техподдержку {% endblock title %}

{% block content %}
<div class="container">
	<div class="row p-3">
		<div class="col-sm-9">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url 'index' %}">Главная страница</a></li>
					<li class="breadcrumb-item"><a href="{% url 'mail_to_support' %}">Техподдержка</a></li>
					<li class="breadcrumb-item">Обращение в техподдержку</li>
				</ol>
			</nav>
			<form class="" action= "{% url 'mail_to_support' %}" method="post">
				{% csrf_token %}
				
				{% bootstrap_form mail_to_support_form layout='horizontal' %}										

				{% buttons submit='Отправить вопрос' %} {% endbuttons %}
			</form>
		</div>
	</div>
</div>
{% endblock content %}