<div class="p-3">
	<h2>Границы гарантийных обязательств производителя:</h2>

	<p>В каком случае производится гарантийный ремонт или замена оборудования по гарантии ?</p>

	<p>Причинами нарушения работоспособности оборудования могут быть:</p>
	<ol>
		<li>Заводской брак определенного узла устройства(гарантийный случай), при котором не выполняется какая-либо функция или устройство не работает (не включается) совсем.</li>
		<li>Проблема конкретной прошивки устройства, при которой какая-либо заявленная функция выполняется ненадлежащим образом или совсем не выполняется. При этом, данная проблема воспроизводится на всех устройствах данной модели. Ремонт или замена не производится, т.к. требуется выполнить обновление прошивки. Выпуск новой прошивки производителем выполняется в рамках   гарантийных и постгарантийных обязательств.</li>
		<li>Нарушение условий эксплуатации оборудования пользователем (негарантийный случай).</li>
		<li>Проблемы на каком-либо другом оборудовании пользователя, влияющие на работу устройства, в результате чего, оно не выполняет какую-либо функцию (негарантийный случай).</li>
		<li>Проблемы, вызванные пользовательскими настройками оборудования (негарантийный случай). Внешние признаки могут быть такие же: какая-либо заявленная функция выполняется ненадлежащим образом или совсем не выполняется.</li>
	</ol>
	<p>Из перечисленных ситуаций видно, что внешние признаки проблем практически одинаковые. Только в случае п.1 выполняется гарантийный ремонт или замена оборудования. Выявление ситуации, описанной в п.1 производится в результате диагностики, без которой решение о гарантийном ремонте/замене не принимается.</p>

	<p class="border-bottom pb-2">Диагностика проблемы и настройка оборудования в рамках телефонного разговора не производится!</p>

	<h2>КАК И КОГДА МЫ МОЖЕМ ВАМ ПОМОЧЬ:</h2>
	<ol>
		<li>Провести определение возможных проблем с работоспособностью устройства (заводской брак). Необходим удаленный доступ к устройству по публичному IP адресу</li>
		<li>Выполнить предварительное определение причин, по которым настройка не получается.
		Данная диагностика предварительная. Выполняется в случае исключения влияния других Ваших сетевых устройств.</li>
		<li>Осуществить информирование о наличии соответствующих доступных инструкций по оборудованию.</li>
	</ol>
	<p>Перед обращением в техподдержку попробуйте решить проблему сами! Обязательно проверьте актуальность установленного в Вашем оборудовании ПО (прошивки).</p>

	<p class="border-bottom pb-2">Используете инструкции к оборудованию на нашем сайте, а также инструкции провайдеров услуг, которыми Вы пользуетесь (телефония, интернет)</p>

	<h2>ВНИМАНИЕ:</h2>

	<p>В бесплатную техподдержку по оборудованию не входит:</p>
	<ol>
		<li>Диагностика Вашей локальной сети.</li>
		<li>Диагностика Вашего интернет-подключения и определение путей решения проблем с интернет-провайдером</li>
		<li>Диагностика Ваших настроек и анализ возможных ошибок, при которых оборудование не выполняет заданные функции. Для проверки работособности оборудования используются типовые настройки из документации изготовителя.</li>
		<li>Отладка настроек оборудования в процессе сопряжения разных устройств.</li>
		<li>Настройка Вашего оборудования. Под настройкой понимается любое изменение заводских значений параметров оборудования с целью включения устройства в Вашу индивидуальную конфигурацию устройств.</li>
	</ol>
</div>