{% extends 'funsite/base.html' %}
{% load thumbnail %}
{% load static %}

{% block title %} Funtelecom - Главная страница {% endblock title %}

{% block content %}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		{% for carousel in carousel_list %}
		{% if forloop.first %}		
		<div class="carousel-item active">
		
			<img class="d-block" src="{{ carousel.image_carousel.url }}">
		</div>
		{% endif %}
		{% endfor %}	
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<h2>Наши бренды</h2>

{% for brand in brand_list %}

<div>
	<a href="{% url 'detail_brand' pk=brand.pk %}">
		<img src=" {{ brand.image_brand.url }}">
	</a>
</div>
<br>

{% endfor %}
<br><hr>

<h2>Новости</h2>

{% for news in news_list %}

<div>
	<a href="{% url 'detail_news' pk=news.pk %}">
		<img src=" {{ news.image_news.url }}">
	</a>
</div>
<br>

{% endfor %}
<a href="{% url 'all_news' %}">Все новости</a>
<hr>
{% endblock content %}